<section class="inner_bnr" style="background-image: url('/assets/images/contact_us_bnr.jpg')">
    <div class="container">
        <div class="inner_bnr_hd">
            <!--<h4>Help / Support</h4>-->
        </div>
    </div>
</section>


<section class="submit-listing advertise_page" ng-controller="helpSupportController">
    <div class="container">
        <div class="banner_shadow">
            <div class=" contactus">
                <div class="row center_align">
                    <div class="col-xs-12 col-sm-6 contactus-left">
                        <div class="help-support">
                            <img src="assets/images/help1.jpg" alt="help">
                        </div>
                        <div class="follow-us">
                            <span>Follow Us On</span>
                            <div class="share-details">
                                <a target="_blank" href="#" class="fb"><i class="fa fa-facebook" aria-hidden="true"></i> </a>
                                <a target="_blank" href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i> </a>
                                <a target="_blank" href="#" class="ins"><i class="fa fa-instagram" aria-hidden="true"></i> </a>
                            </div>
                        </div>
                    </div> <!-- col-6 -->


                    <div class="col-xs-12 col-sm-6 contactus-right listing_form">
                        <div class="side_hd">
                            <h3><span class="green">Send us </span>a Message</h3>
                            <hr class="sec_under_line">
                            <p>Complete this Enquiry Form to obtain additional information about our services or send personal complaints. We will analyze your enquiry and return to you shortly by email or phone. Get in touch with <a href="https://1pageonline.com/">1pageonline Team</a>.</p>
                        </div>
                        <div class="row">
                            <form ng-submit="submit()" autocomplete="off">
                                <div class="col-xs-12 col-sm-12">
                                    <label>Your Name<span>*</span></label>
                                    <input type="text" name="text" placeholder="Enter your name*" ng-model="formData.firstName" auto-focus required>
                                </div>

                                <div class="col-xs-12 col-sm-12">
                                    <label>Contact Number<span>*</span></label>
                                    <input type="text" name="text" maxlength="10" minlength="10" placeholder="Enter your contact number*" ng-model="formData.phoneNumber" number-field required>
                                </div>

                                <div class="col-xs-12 col-sm-12">
                                    <label>Email<span>*</span></label>
                                    <input type="email" name="text" placeholder="Enter your email*" ng-model="formData.email" required>
                                </div>

                                <div class="col-xs-12 col-sm-12">
                                    <label>Your Message<span>*</span></label>
                                    <textarea name="except" cols="40" rows="3" ng-model="formData.message" placeholder="Enter your message*" required></textarea>
                                </div>

                                <div class="clearfix pad-left">
                                    <button id="createbtn" type="submit" class="signupbtn ladda-button" data-style="expand-right" value="Submit"><span class="ladda-label">Submit</span></button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div> <!-- banner -->
    </div>
</section>