<ng-include src="'app/profile/profileHeader.html'"></ng-include>

<section class="slide_dash">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <ng-include src="'app/home/profile-menu.html'"></ng-include>
            </div>
            <div class="col-sm-9">
                <div class="listing_form">
                    <div class="row">
                        <form name="userForm" ng-submit="resetPassword()">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <label>Old Password</label>
                                    <input type="password" placeholder="Your Old Password" ng-model="formData.oldPassword" required>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <label>New Password</label>
                                    <input type="password" minlength="6" placeholder="New Password" id="password" ng-model="formData.password" required>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <label>Confirm Password</label>
                                    <input type="password" minlength="6" placeholder="Confirm Password" id="cpassword" ng-model="formData.confirmPassword" required>
                                </div>
                                <div ng-show="formData.password != formData.confirmPassword && userForm.cpassword.$dirty" style="color:red">Password does not match.</div>
                            </div>

                            <div class="clearfix pad-left update-btns">
                                <button id="updatebtn" type="submit" class="update-bts bt-up1 ladda-button" data-style="expand-right"><span class="ladda-label">Update</span></button>
                                <button class="update-bts bt-up2" ng-click="onBackClick()">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
