<section class="inner_bnr">
    <div class="container">
        <div class="inner_bnr_hd">
            <h4>Authentication Required</h4>
        </div>
    </div>
</section>


<section class="login_page">
    <div class="container">
        <div class="left_space col-xs-12 col-sm-1"></div>
        <div class="col-xs-12 col-sm-5 login">
            <div class="login-box" ng-if="!isVerified">
                <div class="login-title">
                    <h3>Authentication Required</h3>
                    <p class="login-description">For your security, we need to authenticate your request. We've sent an OTP to the {{userData.email}}. Please enter it below to complete verification.</p>
                </div>

                <div class="login-form">
                    <form ng-submit="submit()">
                        <div class="sigin-block">
                            <input type="text" name="email" class="email-icon" placeholder="Enter OTP" ng-model="formData.token" required>
                        </div>
                        <div class="clearfix">
                            <button type="submit" id="btn2" class="signupbtn ladda-button" data-style="expand-right"><span class="ladda-label">Continue</span></button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="login-box" ng-if="isVerified && !formSubmitted">
                <div class="login-title">
                    <h3>Create New Password</h3>
                    <p class="login-description">We'll ask for this password whenever you sign in.</p>
                </div>

                <div class="login-form">
                    <form name="userForm" ng-submit="resetPassword()">
                        <div class="sigin-block">
                            <input type="password" minlength="6" name="email" placeholder="New Password" id="password" class="email-icon" ng-model="formData.password" required>
                        </div>
                        <div class="sigin-block">
                            <input type="password" minlength="6" name="cpassword" placeholder="Confirmed Password" id="cpassword" class="email-icon" ng-model="formData.confirmPassword" required>
                        </div>
                        <div ng-show="formData.password != formData.confirmPassword && userForm.cpassword.$dirty" style="color:red">Password does not match.</div>
                        <div class="clearfix">
                            <button type="submit" id="btn3" class="signupbtn ladda-button" data-style="expand-right"><span class="ladda-label">Continue</span></button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="card-inner" ng-if="formSubmitted">
                <h4 class="">Password reset successfully.</h4>
                <h4> Click here to <a href="/login">Sign in</a></h4>
            </div>
        </div>
    </div>
</section>